.offcanvas{
    max-width: 80% !important;
    padding: 20px !important;
    background: rgba(0, 0, 0, 0.7) !important;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}